@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: PP Monument Extended;
    font-weight: 400;
    src: url(../public/assets/fonts/PPMonument/PPMonumentExtended-Regular.otf) format("opentype");
    font-style: normal;
    line-height: normal;
  }

  @font-face {
    font-family: Neue Plak Normal;
    font-weight: 400;
    src: url(../public/assets/fonts/NeuePlak/Neue\ Plak\ Extended\ Regular.ttf) format("truetype");
    font-style: normal;
    line-height: normal;
  }

  @font-face {
    font-family: Neue Plak Semibold;
    font-weight: 400;
    src: url(../public/assets/fonts/NeuePlak/Neue\ Plak\ Extended\ SemiBold.ttf) format("truetype");
    font-style: normal;
    line-height: normal;
  }
}

button,
textarea,
input,
select,
a,
header
 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-black {
  @apply bg-text-primary text-white border border-gray-lighter leading-[100%] 
  transition-all ease-out duration-500
  group-hover:transition-all group-hover:ease-out group-hover:duration-500
  group-hover:bg-gradient-radial
  group-hover:drop-shadow-[0_5px_15px_rgba(121,128,151,0.35)]
  group-hover:rounded-[46px]
  group-hover:border-white
  group-hover:text-text-primary;  
}

.btn-gray {
  @apply bg-gray-light text-text-primary border border-gray-lighter leading-[100%] 
  transition-all 
  ease-out 
  duration-500
  group-hover:transition-all group-hover:ease-out group-hover:duration-500
  group-hover:bg-gradient-radial
  group-hover:drop-shadow-[0_5px_15px_rgba(121,128,151,0.35)]
  group-hover:rounded-[46px]
  group-hover:border-white;   
}

.btn-white {
  @apply bg-white text-text-primary transition-all ease-out duration-200 leading-[100%];
}

.content-primary{
  @apply font-monument text-text-primary not-italic	leading-[normal]
}

.content-secondary{
  @apply font-neue text-text-secondary not-italic	leading-[normal]
}

.content-subtitle{
  @apply font-monument text-text-extra-0 not-italic	leading-[normal]
}

.swiper-pagination-bullet-active {
  background-color: #23242E !important;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active-next {
  background-color: #798097 !important;
}

.swiper-pagination-bullet-active-next-next {
  background-color: #798097 !important;
}

.swiper-pagination-bullet-active-prev {
  background-color: #798097 !important;
}

.swiper-pagination-bullet-active-prev-prev{
  background-color: #798097 !important;
}